body{
    margin: 0;
    height: 100vh;
    background:linear-gradient(45deg,#2798a8,#276998,#243775);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 70%;
    max-width: 600px;
    height: 350px;
    background-color: rgba(252, 250, 250, 0.059);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgb(163, 162, 162);
    padding: 20px;

}
h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.678);
    font-size: 35px;
    padding-bottom: 15px;
}
#countdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1px 1px 1px 1px;
    gap: 40px;
}
#day ,#hour ,#min ,#sec{
    display: flex;
    flex-direction: column;
    background-color: #255B8E;
    text-align: center;
    padding: 18px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.676);
    border-radius: 10px;
    box-shadow: 0px 0px 0px grey , inset -5px -5px 10px #12385c;
}
span{
    font-size: 30px;
}
h2{
    color: rgba(255, 255, 255, 0.717);
   margin-top: 45px;
    padding-left: 55px;

}
.Progress-container{
    margin-left: 55px;
    margin-top: 30px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.828);
    height: 7px;
    border-radius: 5px;
    overflow: hidden;
}
#Progress-bar{
    width: 0%;
    height: 100%;
    background-color: rgb(108, 162, 27);
    border-radius: 5px;
    transition: width 1s ease-in-out;
}
.stime{
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1px 1px 1px;
    gap: 40px;
}